<h1 class="page--header"><%= @user.name %>'s Posts</h1>

<li class="user--item">
  <img src="<%= @user.photo %>" alt="user" class="user--photo" >
  <div class="name--posts">
    <h3 class="user--name"><%= @user.name %></h3>
    <p class="posts--number">Number of Posts: <%= @user.posts_counter || 0 %></p>
  </div>
</li>

<div class="user--bio">
  <p class="bio--header">Bio</p>
  <p class="bio--text"><%= @user.bio %></p>
</div>

<ul class="posts--list">
  <% @user.recent_posts.each do |post| %>
    <%= render partial: "shared/post", locals: {post: post} %>
  <% end %>
</ul>

<a href="<%= user_posts_path(@user)%>">
  <button class="">See all posts</button>
</a>
