<h1>ALL POSTS for User <%= @user.id %></h1>

<%= render partial: "shared/user", locals: {user: @user} %>

<ul class="posts--list">
  <% @all_posts.each do |post| %>
    <%= render partial: "shared/post", locals: {post: post} %>
    <div class="comments_div">
      <% post.recent_comments.includes(:user).each do |comment| %>
        <p><%= comment.user.name %>: <%= comment.text %><br></p>
      <% end %>
    </div>
    <% if can? :destroy, post %>
      <%= button_to "Delete Post", post_path(post.id), method: :delete %>
    <% end %>
  <% end %>
</ul>

<div>
   <button class="center">Pagination</button>
</div>

