<h2>Display SINGLE POST for a user</h2>

<div class="full--post">
  <div class="post--details">
    <div class="post--stats">
      <p>Post <%= @post.id %> by <%= @post.user.name %></p>
      <p>Comments: <%= @post.comments_counter %></p>
      <p>Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div class="new--commentlike">
    <% # Add New Comment %>
    <%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
    <div>
      <%= form.text_area :text, required: true %>
    </div>
    <%= form.submit "Add Comment"%>
    <% end %>

    <% # Like a Post %>
    <%= form_with scope: :like, url: "/posts/#{@post.id}/likes", method: :post do |form| %>
      <%= form.submit "Like Post" %>
    <% end %>
  </div>

  <!-- # Delete a Post -->
  <% if can? :destroy, @post %>
    <%= button_to "Delete Post", post_path(@post.id), method: :delete %>
  <% end %>

  <div class="post--comments">
    <div class="comments_div">
      <% @post.comments.includes(:user).each do |comment| %>
        <p><%= comment.user.name %>: <%= comment.text %><br></p>
       <% if can? :destroy, comment %>
          <%= button_to "Delete Comment", post_comment_path(@post.id, comment.id), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
