<!DOCTYPE html>
<html>
  <head>
    <title>BloggerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div>
      <%= link_to("All Users", users_path)%>
      <%= link_to("New post", new_post_path)%>
    </div>

    <% flash.each do |name, msg| -%>
      <p class='flash--msg'><%= msg %></p>
    <% end -%>

    <%= yield %>
  </body>
</html>
